# ──────────────── PostgreSQL ────────────────
POSTGRES_USER=spotify_user
POSTGRES_PASSWORD=spotify_pass
POSTGRES_DB=spotify_platform
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ──────────────── Kafka ────────────────
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=spotify.play_events

# ──────────────── Airflow ────────────────
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_FERNET_KEY=CHANGE_ME_GENERATE_WITH_python_-c_from_cryptography.fernet_import_Fernet_print_Fernet.generate_key.decode

# ──────────────── MLflow ────────────────
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=spotify_platform

# ──────────────── Spark ────────────────
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_POSTGRES_JDBC_URL=jdbc:postgresql://postgres:5432/spotify_platform
